<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1 class="my-md-3">
		{{ title }}
	</h1>
</div>

<div class="container-fluid">
	<label class="mx-md-2">Titre article : 
		<input #articleTitle />
	</label>

	<label class="mx-md-2">Laboratoire :
		<input #lab />
	</label>

	<label class="mx-md-2">De :
		<input type="date" #firstDate />
	</label>

	<label class="mx-md-2">A :
		<input type="date" #lastDate />
	</label>

	<button class="btn btn-secondary" (click)="getArticles(articleTitle.value, lab.value, firstDate.value, lastDate.value) ; clicked = true">Search</button>
</div>

<div class="ml-md-2" *ngIf="clicked && results.length == 0">
	<p>Pas de résultats</p>
</div>
<ul class="list-group mx-md-2">
	<li class="list-group-item bg-light" *ngFor="let r of results">
		{{r.label_s}}
		<ul class="list-group pt-md-1">
			<li class="list-group-item bg-white" *ngFor="let rc of r.labStructName_s">
				{{rc}}
			</li>
		</ul>
	</li>
</ul>