<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

Point d'entrée HAL Université Bordeaux :

https://api.archives-ouvertes.fr/search/UNIV-BORDEAUX/
<br/>

<div>
  <label>Paper title:
    <input #articleTitle />
  </label>
  <button (click)="getArticleByTitle(articleTitle.value)">Search</button>
</div>

<ul>
	<li *ngFor="let r of results">
		{{r.label_s}}
		<ul>
			<li *ngFor="let rc of r.labStructName_s">
				{{rc}}
			</li>
		</ul>
	</li>
</ul>